.el-form-item__label{
	text-align: left!important;
	font-weight: 600;
	color:#2c3e50;
}
.el-select-dropdown__item{
	padding: 0 20px!important;
}
.el-checkbox__inner:hover,.el-checkbox__inner:focus{
	border-color: #2a78d6!important;
}
.el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner{
	background-color: #2a78d6!important;
	border-color: #2a78d6!important;
}
.el-checkbox__input.is-checked+.el-checkbox__label{
	color:#2a78d6!important;
	// font-size: 12px;
}
.el-button--danger{
	background-color: #2a78d6!important;
    border-color: #2a78d6!important;
}
.el-button--danger:focus, .el-button--danger:hover{
	background-color: #2a78d6!important;
    border-color: #2a78d6!important;
}

.el-form-item__error{
	padding-left: 16px;
}
.el-button--primary{
	background-color: #2a78d6!important;
	border-color: #2a78d6!important;
}
.el-pagination .btn-next, .el-pagination .btn-prev,.el-pager li{
	background-color: transparent!important;
}
.el-tabs--border-card>.el-tabs__header .el-tabs__item.is-active,.el-tabs--border-card>.el-tabs__header .el-tabs__item:not(.is-disabled):hover{
	color:#2a78d6!important;
}
.el-pager li.active,.el-pager li:hover,.el-pagination button:hover{
	color:#2a78d6!important;
}

.banner.el-carousel{
	overflow: visible;
}
.el-carousel__arrow,.el-carousel__arrow:hover{
	background: transparent;
}
.el-carousel__arrow i {
	font-size: 36px;
	color:#bab9be; 
}
.el-carousel__arrow:hover i {
	color:#e5e5e7;
}
.banner .el-carousel__container{
	height: 200px;
}
.banner .el-carousel__indicators{
	width: 100%;
	position: absolute;
	z-index: 24;
	text-align: center;
	transform:none;
	left: auto;
	bottom: 30px;
}
@media (min-width:768px) {
	.banner .el-carousel__indicators{
		width: 367px;
		bottom: -16px;
		right: 20%;
		text-align: right;
	}
}
@media (min-width:768px) {
	.banner .el-carousel__container{
		height: 400px;
	}
}
@media (min-width:992px){
	.banner .el-carousel__container{
		height: 500px;
	}
}
@media (min-width:1200px){
	.banner .el-carousel__container{
		height: 600px;
	}
}
.banner .el-carousel__indicators .el-carousel__indicator{
	padding: 12px 8px;
}
.banner .el-carousel__indicators .el-carousel__indicator .el-carousel__button{
	width: 6px!important;
	height: 6px;
	border-radius: 50%;
	background-color: #b2b2b2;
}
.banner .el-carousel__indicator.is-active button{
	box-shadow:0 0 0 3px #d03b3b;
	width: 8px;
	transition:all .3s linear;
	height: 8px;
	background-color: #fff!important;
}
.el-table th{
	background-color:transparent;
}
.el-input__inner{
	// border-radius: 25px!important;
}
.el-radio__inner:hover{
	border-color:#d03b3b;
}
.el-radio__label{
	font-size: 12px;
}
.el-radio__input.is-checked .el-radio__inner{
	border-color: #d03b3b;
    background: #d03b3b;
}
.el-radio__input.is-checked+.el-radio__label{
	color:#d03b3b;
}
.el-tabs__active-bar{
	background-color:#d03b3b!important;
}
.el-tabs__item.is-active{
	color: #d03b3b!important;
}
.el-popover{
	z-index: 3010!important;
}
.el-submenu__title:hover{
    background-color: transparent;
}
.el-submenu__title:focus, .el-submenu__title:hover{
	background-color: transparent;
}
.el-dialog__wrapper{
	-webkit-overflow-scrolling: touch;     
	overflow-scrolling: touch;
}
.el-dialog__wrapper .el-dialog{
	position: absolute;
	left: 50%;
	top:50%;
	-webkit-transform:translate3d(-50%,-50%,0);
	transform:translate3d(-50%,-50%,0);
	margin-top: 0 !important;
	margin-bottom: 0;
}
.login_dialog .el-dialog{
	width: 90%;
}
.login_dialog .el-dialog__body{
	padding: 0px 20px 30px;
}
@media (min-width:768px) {
	.login_dialog .el-dialog{
		width: 480px;
	}
	.login_dialog .el-dialog__body{
		padding: 0px 48px 30px;
	}
}
.register_dialog .el-dialog{
	width: 90%;
}
.register_dialog .el-dialog__body{
	padding: 0px 20px 30px;
}
@media (min-width:768px) {
	.register_dialog .el-dialog{
		width: 480px;
	}
	.register_dialog .el-dialog__body{
		padding: 0px 48px 30px;
	}
}
@media (max-height: 600px){
	.register_dialog .el-dialog{
		margin-top: 10vh !important; 
	}
}
@media (max-width: 767px){
	.formItem_downxy .el-form-item__content{
		line-height: 20px;
	}
}
.forgetpsd_dialog .el-dialog{
	width: 90%;
}
.forgetpsd_dialog .el-dialog__body{
	padding: 0px 20px 30px;
}
@media (min-width:768px) {
	.forgetpsd_dialog .el-dialog{
		width: 480px;
	}
	.forgetpsd_dialog .el-dialog__body{
		padding: 0px 48px 30px;
	}
}
.mobile_menu_drawer .el-drawer.rtl{
	overflow-y: auto;
}
.hpsd__dialog .el-dialog{
	position: absolute;
	width: 450px;
	max-width: 90%;
}
.hpsd__dialog .el-dialog__body{
	padding: 0px 50px 30px 30px;
}
@media (max-width:520px) {
	.hpsd__dialog .el-dialog__body{
		padding: 0px 30px 30px 15px;
	}
}
.bussiness_full_dialog .el-dialog{
	height: 90%;
	overflow: auto;
}
.bussiness_dialog .el-dialog{
	width: 1000px;
}
.bussiness_dialog .el-dialog__body{
	padding: 0px 20px 30px;
}
@media (max-width:767px) {
	.bussiness_dialog .el-dialog__body{
		padding: 0px 10px 10px;
	}
}
@media (max-width:1100px) {
	.bussiness_dialog .el-dialog{
		width: 90%;
		height: 90%;
		overflow-y: auto;
	}
}
.message_dialog .el-dialog{
	width: 800px;
	max-height: 90%;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;     
	overflow-scrolling: touch;
}
.message_dialog .el-dialog__body{
	padding: 0px 20px 30px;
}
@media (max-width:991px) {
	.message_dialog .el-dialog{
		width: 90%;
	}
}
.follow_dialog .el-dialog{
	width: 1000px;
}
.follow_dialog  .el-dialog__body{
	padding: 0px 30px 30px;
}
@media (max-width:1000px) {
	.follow_dialog .el-dialog{
		width: 90%;
	}
}
@media (max-width:767px) {
	.follow_dialog .el-dialog{
		max-height: 90%;
		overflow-y: auto;
	}
}
.el-message-box{
	max-width:90%;
}
.language_select .el-switch__label *{
	font-size: 12px;
}
.inner_banner.el-carousel{
	overflow: hidden;
}
.inner_banner .el-carousel__indicators{
	display: none;
	width: 100%;
	position: absolute;
	z-index: 24;
	text-align: center;
	transform:none;
	left: auto;
	bottom: 0px;
}
@media (max-width:570px) {
	.inner_banner .el-carousel__container{
		height: 150px;
	}
}
@media (min-width:571px) {
	.inner_banner .el-carousel__container{
		height: 200px;
	}
}
@media (min-width:768px) {
	.inner_banner .el-carousel__container{
		height: 250px;
	}
}
@media (min-width:992px){
	.inner_banner .el-carousel__container{
		height: 280px;
	}
}
@media (min-width:1200px){
	.inner_banner .el-carousel__container{
		height: 300px;
	}
}

.el-drawer__body {
    overflow: auto !important;
}

.cursor-pointer{
    cursor: pointer;
}

.text-black {
    color: black;
}

.navbar .el-badge__content {
    height: unset !important;
}